{% extends 'base.html' %}
  {% block title %}
  Профайл пользователя {{ user_obj.get_full_name }} 
  {% endblock %}
  {% block content %}
    <div class="container py-5">        
      <h1>Все посты пользователя {{ user_obj.get_full_name }} </h1>
      <h3>Всего постов: {{ posts_number }} </h3>
      {% if current_user != user_obj %}
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' user_obj.username %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
            <a
              class="btn btn-lg btn-primary"
              href="{% url 'posts:profile_follow' user_obj.username %}" role="button"
            >
              Подписаться
            </a>
        {% endif %}
      {% endif %} 
      {% for post in page_obj %}
        {% include 'posts/includes/post_list.html' %}      
      {% if not forloop.last %}        
      <hr>
      {% endif %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}  
    </div>
  {% endblock %}